*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

select{
    width: 150px;
    height: 25px;
}
button{
    width: 150px;
    height: 25px;  
    font-size: 18px;
    text-align: center;
}